html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  
  color: black;
  font-family: Avenir-Roman,sans-serif;
  margin: 0;
  padding: 0;

}

a{
  color: #f9f9f9;
  text-decoration: none;
}

button{
  background-color:#3f5efb ;
  border:1px solid black;
  padding:4px;
  color: #f9f9f9;
}
button:hover {
  background-color:#fc466b80;
  color:black;
}
/* for Desktop */
@media only screen and (min-width:768px) {
  body{
    font-size: 16px;
  }
}

/* for Smart phone and tablate */
@media only screen and (min-width:480px) and (max-width:768px)  {
  body{
    font-size: 15px;
  }
}
/* for small phones */
@media only screen and (min-width:479px) {
  body{
    font-size: 14px;
  }
}